#header {
  background-color: rgba(186, 0, 11, 0.87);

}
.color1{
  color: aqua;
}

#lineUnderHeader{
  min-height:10px;
}
#bookstore{
  color: #ffffff;
  font-family: "Trebuchet MS";
  font-size: 40px;
  padding: 20px ;
}
