#header {
  background-color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  border-bottom: 10px;
}

#lineUnderHeader {
  min-height: 10px;
}

#bookstore {
  color: #faa200;
  font-family: "Trebuchet MS";
  font-size: 30px;
  padding: 40px;
}

#inputTxt {
  font-family: "Trebuchet MS";
  font-size: 20px;
}

