<div id="header">
  <div class="container">
    <div class="row align-items-center">
      <img src="./../../assets/logo_gwo.png">
      <div id="bookstore" class="col">
        KSIĘGARNIA
      </div>
      <div class="col">
        <label>
          Wpisz tekst
          <input id="inputTxt" type="text" [maxLength]="maxLength" (keyup)="onNameKeyUp($event)"/>
        </label>
      </div>
    </div>
  </div>
</div>

<div id="lineUnderHeader" class="row">
  <div class="col" style="background-color: rgba(0,0,0,0.13)"></div>
  <div class="col col-lg-1" style="background-color: rgba(53,126,250,0.88)"></div>
  <div class="col col-lg-1" style="background-color: rgba(250,162,0,0.88)"></div>
  <div class="col col-lg-1" style="background-color: rgb(9,203,0)"></div>
  <div class="col col-lg-1" style="background-color: rgba(250,53,71,0.88)"></div>
</div>


