<div id="header">
  <div class="container">
    <div class="row align-items-center">
      <img src="./../../assets/logo_gwo.png">
      <div id="bookstore" class="col" [class]="colorHeader">
        KSIĘGARNIA
      </div>
      <div class="col">
        <input type="text" (keyup)="onNameKeyUp($event)"/>
        <!--  <button (click)="getPosts($event)" type="submit">szukaj</button>-->
      </div>
    </div>
  </div>
</div>

<div id="lineUnderHeader" class="row">
  <div class="col" style="background-color: rgba(0,0,0,0.13)"></div>
  <div class="col col-lg-1" style="background-color: rgba(53,126,250,0.88)"></div>
  <div class="col col-lg-1" style="background-color: rgba(250,162,0,0.88)"></div>
  <div class="col col-lg-1" style="background-color: rgb(9,203,0)"></div>
  <div class="col col-lg-1" style="background-color: rgba(250,53,71,0.88)"></div>
  <!--div class="col-md-auto" style="font-size: 10px; background-color: black ;color: white">Gdańskie Wydawnictwo Oświatowe 2017.</div>-->
</div>


