#footer {
  background-color: #cb272a;
  padding: 50px;
  min-height: 300px;
}

#lineUnderHeader {
  min-height: 10px;
}

.col {
  display: flex;
  justify-content: center;
  border-bottom: 10px;
  color: #ffffff;
  font-family: "Trebuchet MS";
  font-size: 20px;
}

.option {
  font-family: "Trebuchet MS";
  font-size: 14px;
}
