<div id="lineUnderHeader" class="row">
  <div class="col " style="background-color:  rgba(10,10,10,0.25)"></div>
</div>
<div id="footer">
  <div class="row">
    <div class="col">
      <div>
        <div>O nas</div>
        <div class="option">historia GWO</div>
        <div class="option">Kodeks Dobrych Praktyk</div>
        <div class="option">pod patronatem</div>
        <div class="option">projekty UE</div>
        <div class="option">napisali o nas</div>
        <div class="option">informacje dla prasy</div>
        <div class="option">biuro prasowe</div>
        <div class="option">licencje</div>
      </div>
    </div>
    <div class="col">
      <div>
        <div>księgarnie</div>
        <div class="option">księgarnie, e-księgarnie, e-booki</div>
      </div>
    </div>
    <div class="col">
      <div>
        <div>współpraca z GWO</div>
        <div class="option"> dla księgarni i hurtowni</div>
        <div class="option">zostań autorem</div>
        <div class="option">praca</div>
      </div>
    </div>
    <div class="col">
      <div>
        <div>kontakt</div>
        <div class="option">skontaktuj się z nami</div>
        <div class="option">przedstawiciele regionalni</div>
        <div class="option">dane adresowe</div>
      </div>
    </div>
  </div>
</div>

