<div class="app_main">
  <div class="container">
    <div class="row">
      <div *ngFor="let post of  bookPost|async " class="col-md-4">
        <div class="book-card">
          <div class="cover">
            <img class="card-img-top" src={{post.cover}} alt="">
          </div>
          <h6 class="card-title">{{post.title}}</h6>
          <p class="card-text">{{post.author}}</p>
          <p class="card-text">{{post.isbn}}</p>
          <a href={{post.url}} class="btn btn-primary">Przejdź do księgarni</a>
        </div>
      </div>
    </div>
  </div>
</div>
