.app_main {
  background-color: #eaebeb;
  padding: 20px;
}

.container {
  min-height: 500px;
}

.cover {
  margin: 5px;
}

.book-card {
  padding: 10px;
  margin-bottom: 10px;
  min-width: 300px;
  min-height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  border: #999 solid 1px;
  border-radius: 10px;

}

.row {
  display: flex;
  justify-content: center;
}

.empty {

  color: #dcdcdc;
  font-family: "Trebuchet MS";
  font-size: 60px;
  margin-top: 170px;
}

